h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.clients-list__link, .close-modal-button, .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
}

:root {
  --brand-color: #2196f3;
  --hover-button-color: #188ce8;
  --text-content-color: #ffffff;
  --title-color: #212121;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visualli-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity var(--transition-dur-and-func), visibility 250ms var(--transition-dur-and-func);
  background-color: rgba(0, 0, 0, 0.4);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.button {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--text-content-color);
  margin-left: auto;
  margin-right: auto;
  outline: none;
  overflow: hidden;
  border: none;
  transition: background var(--transition-dur-and-func);
}
.button:hover, .button:focus {
  background: var(--hover-button-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.media-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.media-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}
.media-list__link:hover, .media-list__link:focus {
  background-color: var(--brand-color);
}

.media-list__icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}
.media-list__link:hover .media-list__icon, .media-list__link:focus .media-list__icon {
  fill: #f5f4fa;
}

.modal {
  position: absolute;
  width: 528px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--text-content-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  display: block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input {
  width: 100%;
  padding: 5px 10px 5px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin-bottom: 10px;
  transition: border var(--transition-dur-and-func);
}

.modal-input-desc {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px 16px;
  margin-bottom: 20px;
  transition: border var(--transition-dur-and-func);
  color: #000000;
}
.modal-textarea:focus {
  border: 1px solid var(--brand-color);
  outline: none;
}
.modal-textarea::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop-input-wrupper {
  position: relative;
}

.modal-input:focus {
  outline: none;
  border: 1px solid var(--brand-color);
}

.backdrop-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-input:focus + .backdrop-icon {
  fill: var(--brand-color);
}

.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--text-content-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border var(--transition-dur-and-func);
  padding: 0;
}
.close-modal-button:hover, .close-modal-button:focus {
  border: 1px solid var(--brand-color);
}

.modal-close-icon {
  fill: #000000;
  transition: fill var(--transition-dur-and-func), transform var(--transition-dur-and-func);
}
.close-modal-button:hover .modal-close-icon, .close-modal-button:focus .modal-close-icon {
  fill: var(--brand-color);
  transform: rotate(360deg);
}

.modal-form-button {
  padding: 0 30px 0 30px;
}

.modal-form-check-desk-link {
  color: var(--brand-color);
}

.modal-form-check-desk {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.modal-form-check-desk::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-right: 15px;
}

.modal-form-check:checked + .modal-form-check-desk::before {
  background-color: var(--brand-color);
  box-shadow: inset 0 0 0 3px rgb(255, 255, 255);
}

.modal-form-check:focus + .modal-form-check-desk::before {
  outline: 1px solid var(--brand-color);
}

.section-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (max-width: 1200px) {
  .activity-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activity-section {
    padding-bottom: 94px;
  }
  .activity-title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;
  }
  .activity-list {
    display: flex;
    gap: 30px;
  }
  .activity__item {
    position: relative;
  }
  .activity__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    overflow: auto;
    background: rgba(47, 48, 58, 0.8);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-content-color);
  }
}
.advantages-section {
  padding-top: 45px;
  padding-bottom: 45px;
}

.advantages__item {
  width: 450px;
}
.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantage__icon {
  align-items: center;
  text-align: center;
  padding: 25px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
  text-align: center;
}

.advantages__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .advantages-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .advantages__item {
    width: 354px;
  }
  .advantages__title {
    text-align: start;
  }
  .advantage__icon {
    padding: 25px 142px;
  }
  .advantages__text {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    height: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
  }
  .advantage__icon {
    padding: 25px 100px;
  }
  .advantages__title {
    text-align: start;
  }
}
.clients {
  padding: 94px 0;
}

.clients-title {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  transition: border var(--transition-dur-and-func), scale var(--transition-dur-and-func);
}
.clients-list__link:hover {
  border: 1px solid var(--brand-color);
  scale: 1.1;
}

.clients-list__icon {
  transition: fill var(--transition-dur-and-func);
  fill: #afb1b8;
}
.clients-list__link:hover .clients-list__icon {
  fill: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .clients {
    padding: 60px 0 60px 0;
  }
  .clients-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 42px;
  }
  .clients-list__link {
    width: 170px;
  }
}
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer-logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 20px;
}

.footer-list-contact {
  margin-bottom: 60px;
}

.footer-list-contact__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-list-contact__link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  fill: #f5f4fa;
}

.footer-social-list {
  margin-bottom: 60px;
}

.footer-social-list-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-content-color);
  margin-bottom: 20px;
}

.footer-form-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-content-color);
  margin-bottom: 20px;
  text-align: center;
}

.footer-form-wrapper {
  margin-left: auto;
}

.footer-form-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding: 15px;
  margin-bottom: 15px;
  background: #2f303a;
  color: var(--text-content-color);
}
.footer-form-input::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  padding: 10px 13px 10px 28px;
}

.subscribe-icon-send {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .footer-form-input {
    width: 450px;
    margin-right: 12px;
    margin-bottom: 15px;
  }
  .footer-list-contact {
    margin-bottom: 0;
  }
  .footer-social-list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
  }
  .footer-social-list {
    margin-left: 70px;
  }
  .footer-form {
    display: flex;
  }
  .footer-form-title {
    text-align: start;
  }
  .footer-form-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
  .footer-form-button {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .nav-header {
    display: none;
  }
  .contact {
    display: none;
  }
}
.section-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section-header-portfolio {
  border-bottom: 1px solid #ececec;
}

.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition: transform var(--transition-dur-and-func);
}
.mobile-menu-open:hover, .mobile-menu-open:focus {
  transform: rotate(360deg);
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--text-content-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu_close-button {
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition: transform var(--transition-dur-and-func);
  }
  .mobile-menu_close-button:hover, .mobile-menu_close-button:focus {
    fill: var(--brand-color);
    transform: rotate(360deg);
  }
  .mobile-menu_link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--title-color);
  }
  .mobile-menu_link:hover, .mobile-menu_link:focus {
    color: var(--brand-color);
  }
  .mobile-menu_link_item:not(:last-child) {
    margin-bottom: 30px;
  }
  .mobile-menu-list {
    margin-bottom: auto;
  }
  .mobile-menu_close-button_icon:hover,
  .mobile-menu_close-button_icon:focus {
    fill: var(--brand-color);
  }
  .mobile-menu-social-list {
    display: flex;
    cursor: pointer;
  }
  .mobile-menu__social-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3333333333;
    letter-spacing: 0.02em;
    color: var(--brand-color);
  }
  .mobile-menu__social-item:not(:last-child) {
    margin-right: 10px;
  }
  .mobile-menu__social-item:not(:last-child)::after {
    content: "";
    width: 15px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
  }
  .mobile-menu-contact {
    margin-bottom: 64px;
  }
  .mobile-menu-contact__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu-contact__link:hover, .mobile-menu-contact__link:focus {
    color: var(--brand-color);
  }
  .mobile-menu-contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .section-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .container_header {
    justify-content: flex-start;
  }
  .menu {
    display: flex;
  }
  .logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    color: var(--brand-color);
  }
  .logo_header {
    margin-right: 88px;
  }
  .menu__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--transition-dur-and-func);
  }
  .menu__link.portfolio_link {
    position: relative;
    color: var(--brand-color);
    padding: 31px 0;
  }
  .menu__link.portfolio_link::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: var(--brand-color);
    border-radius: 2px;
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--brand-color);
  }
  .menu__link.studio_link {
    position: relative;
    color: var(--brand-color);
    padding: 31px 0;
  }
  .menu__link.studio_link::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: var(--brand-color);
    border-radius: 2px;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact {
    margin-left: auto;
  }
  .contact__item:not(:last-child) {
    margin-right: 40px;
  }
  .contact__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--transition-dur-and-func);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--brand-color);
  }
  .contact__icon {
    margin-right: 10px;
    transition: fill var(--transition-dur-and-func);
  }
  .contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
    fill: var(--brand-color);
  }
  .menu__link.portfolio_link {
    padding: 28px 0;
  }
  .menu__link.studio_link {
    padding: 28px 0;
  }
  .contact__link {
    font-size: 12px;
    line-height: 14px;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact__item:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .logo {
    font-size: 26px;
    line-height: 31px;
    color: var(--brand-color);
  }
  .logo_header {
    margin-right: 93px;
  }
  .contact {
    display: flex;
  }
  .contact__link {
    font-size: 14px;
    line-height: 16px;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}
.section-hero {
  max-width: 480px;
  height: 400px;
  background-color: #c4c4c4;
  border: 1px solid var(--title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/mobile/hero/hero-480/hero-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero__button {
  padding: 10px 32px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/hero/hero-480/hero-480@2x.jpg);
  }
}
.title-hero {
  font-family: "Roboto";
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.8076923077;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/tablet/hero/hero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/tablet/hero/hero-768@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .title-hero {
    font-size: 26px;
    line-height: 42px;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/desktop/hero/hero-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../../images/desktop/hero/hero-1600@2x.jpg);
  }
  .title-hero {
    font-size: 44px;
    line-height: 60px;
    width: 698px;
  }
}
.nav-portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.nav-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}

.nav-portfolio-item {
  border: 1px solid #eeeeee;
}

.nav-portfolio__button {
  padding: 6px 22px;
}

.portfolio-item-link {
  display: block;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
}

.wraper-data-portfolio {
  padding: 20px 24px;
}

.portfolio-img {
  display: block;
}

.portfolio-wrapper-img {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  padding-top: 63px 24px;
  overflow: auto;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  padding: 15px;
  color: var(--text-content-color);
  background-color: var(--brand-color);
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);
}
.portfolio-item-link:hover .portfolio-overlay, .portfolio-item-link:focus .portfolio-overlay {
  transform: translate(0, 0);
}

@media screen and (min-width: 768px) {
  .nav-portfolio-list {
    justify-content: center;
    margin-bottom: 30px;
  }
  .portfolio-title {
    width: 306px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-title {
    width: 100%;
  }
  .nav-portfolio-list {
    margin-bottom: 50px;
  }
}
.team-section {
  padding-bottom: 45px;
  background: #f5f4fa;
}

.team-main-title {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #f5f4fa;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: scale var(--transition-dur-and-func);
}
.team-item:hover {
  scale: 1.1;
}

.team-item__employee {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-item__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-item__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team-main-title {
    font-size: 28px;
    line-height: 33px;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-main-title {
    font-size: 36px;
    line-height: 42px;
    padding-top: 94px;
    padding-bottom: 50px;
    background-color: none;
  }
}/*# sourceMappingURL=main.css.map */