.team-section {
  padding-bottom: 45px;
  background: #f5f4fa;
}

.team-main-title {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #f5f4fa;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
     transition: scale var(--transition-dur-and-func);
    &:hover{
      scale: 1.1;
    }
}

.team-item__employee {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-item__title {
  font-family: "Roboto";
  @include font($fw:500, $fs:16px, $lh:19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-item__text {
  font-family: "Roboto";
  @include font($fw:400, $fs:16px, $lh:19px);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .team-main-title {
    font-size: 28px;
    line-height: 33px;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-main-title {
    font-size: 36px;
    line-height: 42px;
    padding-top: 94px;
    padding-bottom: 50px;
    background-color: none;
  }
}


