.button {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: "Roboto";
  @include font();
  @extend %align;
  letter-spacing: 0.06em;
  color: var(--text-content-color);
  margin-left: auto;
  margin-right: auto;
  outline: none;
  overflow: hidden;
  border: none;
  transition: background var(--transition-dur-and-func);
  &:hover,
  &:focus {
    background: var(--hover-button-color);

  }
}
